/**********************/
/*** General Styles ***/
/**********************/
* {
  box-sizing: border-box;
}
/* Section Sizing and Positioning */
section {
  width: 100%;
  padding: 1.5rem 2.5%;
  text-align: center;
}
/* Vertical Rhythm */
h2 {
  margin-bottom: 1rem;
}
h3, p, img {
  margin-bottom: 1.5rem;
}
/* Background */
body {
  background-color: beige;
  background-image: url(assets/wedding-background.png);
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: center;
}
.program, .faq {
  background-color: rgba(0, 0, 0, .6);
}
/* Typography */
body {
  font-family: "Libre Baskerville", serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
h1, h2 {
  font-family: "Great Vibes", cursive;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
}
.locations {
  color: #444349;
}
.program, .faq {
  color: #d2ba87;
}
/* Links */
a {
  color: #bd806e;
  text-decoration: none;
}
a:hover {
  color: #eda087;
  transition: color .25s ease-in-out;
}

/*********************/
/*** Header Styles ***/
/*********************/
header {
  background-image: url(assets/wedding-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.header-wrap {
  width: 100%;
  padding: .75rem;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
}
header p, header span {
  color: rgba(255, 255, 255, .9);
  font-size: 1.25rem;
  letter-spacing: .15rem;
}
header p {
  margin-bottom: 0;
}
header p::after {
  display: block;
  width: 12.5rem;
  height: 1px;
  margin: .75rem auto .75rem;
  background-color: white;
  content: "";
}
header h1 {
  color: #d2ba87;
  font-size: 3rem;
}
header span::before, header span::after {
  display: inline-block;
  width: 1.5rem;
  height: 1px;
  vertical-align: middle;
  margin: 0 .5rem;
  background-color: white;
  content: "";
}

/***********************/
/*** Location Styles ***/
/***********************/
.locations-cell h3 {
  font-weight: 700;
}
.locations-cell img {
  width: auto;
  height: 7.5rem;
}
.locations-cell p {
  font-family: "Mulish", sans-serif;
  margin-bottom: 0;
}
.divider::after {
  display: block;
  width: 25vw;
  height: 3px;
  margin: 1.5rem auto;
  background-color: #444349;
  content: "";
}

/**********************/
/*** Program Styles ***/
/**********************/
.program p, .program ul {
  font-family: Mulish, sans-serif;
}
.program p {
  font-style: italic;
}
.program ul {
  width: 16rem;
  margin: 0 auto;
  letter-spacing: .025rem;
  text-align: left;
}
